/* General body styles, setting background gradient, font properties, and alignment */
body {
  background: rgb(2,0,36);
  background: linear-gradient(60deg, rgba(2,0,36,1) 50%, rgba(9,9,121,1) 75%, rgba(0,212,255,1) 100%);
  color: rgb(230, 230, 230);
  text-align: center;
  font-family: 'Indie Flower', 'Comic Sans', cursive;
  font-size: 0.7em;
}

/* Styles for h1, h2, and h3 */
h1 {
  line-height: 1em;
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 2.8em;
  font-weight: bold;
}
h2 {
  font-size: 1.3em;
  font-weight: bold;
  padding: 0;
  margin: 0;

}
h3 {
  font-size: 1.1em;
  text-decoration: underline;
  text-decoration-style: dashed;
  padding: 0;
  margin: 10px 0 2px 0;
}

/* Table styles */
table {
  margin: 2% auto;
  border-collapse: collapse;
}
#table_game {
  position: relative;
  font-size: 120px;
  margin: 1% auto;
  border-collapse: collapse;
}

/* Cell styling within the game table */
.td_game {
  border: 4px solid rgb(230, 230, 230);
  background-color: #2d0d40;
  width: 90px;
  height: 90px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

/* Style for div elements in each cell */
.fixed {
  width: 90px;
  height: 90px;
  line-height: 90px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

/* Styles for the score board */
.td_list {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}
.th_list {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

/* Styles for player X and O symbols */
.x {
  color: rgb(245, 65, 4);
  position: relative;
  top: -8px;
  font-size: 1.2em;
  cursor: default;
}
.o {
  color: rgb(4, 247, 166);
  position: relative;
  top: -7px;
  font-size: 1.0em;
  cursor: default;
}

/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* enable scroll if needed */
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 100%);
}

button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

button:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

button svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

button:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

button:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

button:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}


 

/* Modal content */
.modal-content {
  background-color: rgb(240, 240, 240);
  color: rgb(32, 32, 32);
  font-family: "Gabriola";
  font-size: 2.2em;
  font-weight: bold;
  /* 16 % from the top and centered */
  margin: 16% auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 380px;
  max-width: 80%;
}
.modal-content p {
  margin: 0;
  padding: 0;
}

/* Announce winner style */
.close {
  color: rgb(170, 170, 170);
  float: right;
  position: relative;
  top: -25px;
  right: -10px;
  font-size: 34px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: Red;
  text-decoration: none;
  cursor: pointer;
}
.win-color {
  background-color: rgb(240, 240, 240);
}

/* Make the text smaller */
.small-text {
    margin-top: 20px;
    font-size: 0.8em; /* Smaller font size */
    display: block; /* Makes it go to a new line */
    text-align: center; /* Center align the text */
}

/* Signing up and logging in errors */
.form-error {
    color: red;             /* Sets the text color to red */
    margin-top: 40px;       /* Adds space above the error message */
    font-size: 1.5em;       /* Slightly smaller font size */
    text-align: center;     /* Center-aligns the text */
}

/* Config Play button */
button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

button:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

button svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

button:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

button:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

button:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}